<!--<!DOCTYPE html>-->
<html lang="en" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/home/home_layout.html}">


<th:block layout:fragment="addcss">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</th:block>

<style>
    body {
        padding: 16px;
        margin: 0;
    }

    #map {
        width: 100%;
        height: 100%;
    }


</style>
<head>


<body>

<div class="col-12">
    <form class="col-6 float-left" method="get">
        <label>FROM:</label> <input name="srcnodeid" type="text" required>
        <label>TO:</label> <input name="desnodeid" type="text" required>
        <button type="submit" id="searchbtn" class="btn btn-success">FIND</button>
    </form>
    <div class="col-3 float-right">

    </div>
</div>
<br/>
<br/>
<div layout:fragment="content">

    <div id="map" class="col-12 ">

    </div>

</div>

<th:block layout:fragment="addscript">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


    <script th:src="@{/resource/js/home/index.js}"></script>
</th:block>
</body>

</html>